@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

ul,ol,li {
	list-style: none
}
img {
	border: 0;
}
body {
	color: #000;
	font-family: arial;
	background: #FFF
}
.center{
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.zhong1 {
	margin-bottom: 5px;
	height: 320px;
}
.left1 {
	height: 270px;
	width: 200px;
	float: left;
	margin-left: 20px;
	color: #F00;
	border: 2px solid #c0c0c0;
	margin-right: 5px;
}
.left2tu{
	height: 100px;
	
}
.tushuo{
	margin-top: 15px;
	height: 50px;
	
}
.adver{
	width: 700px;
	border: solid 1px #666;
	float: left;
}
.Rotator_bg{
	background-color: #CCCCCC;
	height: 20px;
	border-top: solid 1px #B4B4B4;
		}
.number{
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
    background-color: #9E2E07;
	display: block;
	border: 1px solid #FFF;
	width:18px;
	height:18px;
	text-align: center;
    margin-left:10px;
    cursor:pointer;
	float:left;
}
.numberOver{
    color:#8C2806;
    font-size:14px;
	width:280px;
	background-color:#FFF;
	text-align:center;
	float:left;
	display: block;
	margin-left:10px;
}
.left_indent{
	padding-left:20px;
}
.red{
    color:#F00;
}

.right1 {
	height: 270px;
	width: 200px;
	float: left;
	margin-left: 20px;
	color: #000;
	border: 2px solid #c0c0c0;
}
.one{
	height: 100px;
}
.one ul li{
	padding-top: 1px;
}
.one ul li a{
	text-decoration: none;
	color: #000;
}
.one ul li a:hover{
	color: #F00;
}
.two{
	height: 170px;
}
.two h2{
	margin-top: 8px;
}
.two ul li{
	padding-top: 5px;
}
.two ul li a{
	text-decoration: none;
	color: #000;
}
.two ul li a:hover{
	color: #F00;
}
.zhong2 {
	margin-bottom: 5px;
	height: 550px;
}
.tab_hd{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	margin-bottom: 5px;
	height: 25px;
}
.leftAul{
	list-style-type: none;	
}
.tab_hd ul li{
	float: left;
	padding-right: 50px;
}
.select{
	float: left;
	color: #F00;
	font-weight: bold;
	margin-right: 50px;
	margin-left: 230px;
}
.book{
	height: 490px;
}
.left2 {
	height: 460px;
	width: 200px;
	float: left;
	margin-left: 20px;
	border: 2px solid #c0c0c0;
	margin-right: 5px;
}
.category {
	width: 200px;
	margin-top: 0px;
	height: 120px;
}
.category ul {
	list-style-type: none;
}
.category li {
	float: left;
	color: #666666;
	width: 80px;
}
.category li a {
	color: #000000;
	text-decoration: none;
}
.category li a:hover{
	color: #FF0000;
}
.left2tu{
	margin-top: 3px;

}
.tab_item{
	float: left;
	overflow: hidden;
	width: 740px;
	height:450;
	margin-right: 5px;
}
.tab_item ul li{
	float: left;
	width: 173px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.pic{
	width: 160px;
	height: 160px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.name{
	width: 180px;
	height: 42px;
	margin-top: 5px;
	overflow: hidden;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 14px;
	text-align: center;
}
.price{
	width: 180px;
	margin: 0px auto;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: center;
}
.right2 {
	height: 450px;
	width: 200px;
	float: left;
	margin-left: 20px;
	color: #F00;
	border: 1px solid #c0c0c0;
}
.tab_hd2{
	height: 30px;
	width: 200px;
}
.tab_hd2 ul {
    height: 30px;
}
.tab_hd2 li {
	float: left;
	line-height: 30px;
	font-size: 14px;
	color: #666561;
	font-family: "microsoft yahei";
	cursor: pointer;
	margin-right: 8px;
}
.select2{
	float: left;
	color: #F00;
	font-weight: bold;
}
.tab_item2{
	height: 400px;
}
.tab_item2 .rank-content {
	height: 400px;
}
.tab_item2 .rank-content dl {
    margin: 0 9px;
    margin-top: 0px;
    margin-right: 9px;
}
.tab_item2 .rank-content dl dt {
	text-indent: 27px;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	cursor: pointer;
	font-size: 12px;
	background-image: url(../images/1.gif);
	background-repeat: no-repeat;
	border-bottom: 1px dotted #dcdcdc;
}
.pro_tab60 .tab_item .rank-content dl dt a{
	text-decoration: none;	
}
