* {
	margin: 0;
	padding: 0;
}

body{
	font-family: "微软雅黑";
}

ul,
ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

input,
textarea {
	outline: none;
}

img {
	border: none;
	vertical-align: middle;
}


/*清除浮动*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*+height: 1%;
}